//custom variables
$primary: #c29938;
$light: #fbf5e5;

// import functions & variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #522192,
);

//tooltip
.custom-tooltip {
text-decoration: none;
font-weight: 400;
color: white;
background: #000;
opacity: 0.3;
border-radius: 30px;
};


$theme-colors: map-merge($custom-theme-colors, $theme-colors);
// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css"
